@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-cream text-charcoal antialiased;
  }

  ::selection {
    background-color: theme('colors.bronze.DEFAULT');
    color: theme('colors.cream.DEFAULT');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
